<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
    <div>
        <h1 class="name">Alan Tam</h1>
        <h3 class="statement">Computer Science Student at the University of Waterloo</h3>

        <a href="https://www.linkedin.com/in/a37tam/" class="fab fa-linkedin-in"></a>
        <a href="https://github.com/a37tam"           class="fab fa-github-alt"></a>
        <a href="mailto:a37tam@uwaterloo.ca"          class="fas fa-envelope"></a>
        <a href="#"                                   class="fas fa-file-pdf"></a>
    </div>
{% endblock %}

